@import 'reset';
@import 'vars';

html {
  background-color: var(--bg-color);
}

body {
  font-family: Roboto;
  font-size: 1.6rem;
  overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}
